<div class="container">
    <div class="search-container">
        <app-search-box (onSearchStringComplete)="getUser($event)"></app-search-box>
    </div>
    <div class="git-home">
        <div *ngIf="!userLoading && userError === ''">
            <div *ngIf="userData" class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <app-user [userData]="userData"></app-user>
                </div>
            </div>
            <div *ngIf="repositories && repositories.length > 0 && repoError === ''" class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <app-repositories [repositories]="repositories"></app-repositories>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 justify-content-center-component">
                    <ngb-pagination [(page)]="page" [maxSize]="5"
                                    [collectionSize]="totalCollectionSize" [ellipses]="true" (pageChange)="getNewRepositoryData($event)"
                                    aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
            <div *ngIf="(!repositories || repoError !== '' || repositories.length === 0)">
                Entered error - {{repoError}}
                <p class="exception-message">{{repoError}}</p>
            </div>
        </div>
        <div *ngIf="!userLoading && userError !== ''">
            <p class="exception-message">{{userError}}</p>
        </div>
    </div>
</div>
