<div class="container">
    <div class="git-home">
        <div *ngIf="userData" class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <app-user [userData]="userData"></app-user>
            </div>
        </div>
        <div *ngIf="repositories" class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <app-repositories [repositories]="repositories"></app-repositories>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <ngb-pagination [(page)]="page" [maxSize]="5"
                                [collectionSize]="totalCollectionSize" [ellipses]="true" (pageChange)="getNewRepositoryData($event)"
                                aria-label="Default pagination"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
