.git-home {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid grey;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.justify-content-center-component {
  display: flex !important;
  justify-content: center !important;
}

ngb-pagination ::ng-deep a {
  color: #428bca !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: #428bca;
  background-color: #428bca;
  color: white !important;
}

.exception-message {
  font-weight: bolder;
  text-align: center;
  font-size: 1.8rem;
}

.search-container {
  margin: 2rem;
}
